body{
margin:0;
font-family:Segoe UI;
background:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") no-repeat center;
background-size:cover;
}

.hero{
text-align:center;
padding:50px;
background:rgba(0,0,0,0.6);
color:white;
}

.form-box{
margin-top:20px;
}

select,button{
padding:12px;
margin:10px;
border-radius:10px;
border:none;
font-size:16px;
}

button{
background:#ff9800;
color:white;
cursor:pointer;
}

.result{
background:white;
margin:20px auto;
width:80%;
padding:20px;
border-radius:15px;
box-shadow:0 0 10px black;
white-space:pre-wrap;
}